.skip-link {
    position: absolute;
    top: -1000px;

    z-index: 1000;
    background-color: #FFCB05;
    border: 4px solid #00274C;
    color: #00274C;
    padding: 10px;
    border-radius: 10px;
}


.skip-link:focus {
    top: 10px;
    height: auto;
    width: auto;
}


/* Global Styles */
body {
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


/* Header Styling */
header {
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: 1fr; 
    align-items: center;
    text-align: center;
    width: auto;
    padding: 1rem;
    background: #00274C;
    color: white;
    overflow-x: hidden;
    /* overflow: hidden; */
}

header img {
    max-width: 50%;
    height: auto;
    justify-self: start;
    /* margin-bottom: 0; 
    align-self: start;
    justify-self: start; */


    /* position: absolute;
    top: 10px;  
    left: 10px; */
}

/* Navigation
nav ul li {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    color: ;
} */

nav ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
}

nav a:hover, nav a:focus, .active a {
    background: #ffcb05;
    color: #00274C;
    border-radius: 5px;
}


/* Main Content Grid Layout */
main {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10%;
}

section {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #00274C;
}

figure {
    margin: 0;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background: #00274C;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    color: #ffcb05;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.support a {
    color: darkred;
}

nav li:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 1rem;
}

/* NO hori scrollbar */

/* make sure that the banner is good */